<div class="w-full">
  <div class="flex justify-between items-center mb-4">
    <h1><%= @faculty_survey.display_name %></h1>
    <% unless @faculty_survey.program_id.present? %>
      <%= link_to 'New Survey Question', new_faculty_survey_config_question_path(@faculty_survey), class: "secondary_blue_button" %>
    <% end %>
  </div>
  <p class="body-text mb-2">
    If the survey contains a title, subject, catalog number, and section questions,
    a program will be created from answers after the survey is submitted.
  </p>

  <div id="config_questions" class="min-w-full">
    <%= render 'config_question', locals: { faculty_survey: @faculty_survey } %>
  </div>
</div>
