<div>
  <h1> About LSA RideShare application.</h1>
  <p class="body-md-text m-2 md:m-8">
    LSA RideShare supports the reservation of cars for units who provide vehicles for individuals and groups to use for getting
    to and from their site placements. To be eligible to reserve a car, sites must not be accessible by walking, MBus, or AATA bus. 
    Drivers will complete the required steps to be eligible to reserve a vehicle as indicated by the unit. 
  </p>
</div>
