<div id="<%= dom_id course %>">

  <p class="my-5">
    <strong class="block font-medium mb-1">Subject:</strong>
    <%= course.subject %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Catalog Number:</strong>
    <%= course.catalog_number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Class Section:</strong>
    <%= course.class_section %>
  </p>

</div>
