<div class="flex flex-row items-end gap-4 m-2">
  <div>
    <h2>Edit Program Sites hell</h2>
  </div>
  <div>
    <%= link_to program_data_path(@site_program) do %>
      <span class="tertiary_button" %>
        Exit Edit Sites Page
        <i class="fa-solid fa-pen" aria-hidden="true"></i>
      </span>
    <% end %>
  </div>
</div>
<h2>Create a new site or choose one from the list</h2>
<%= render 'form', site: @site %>
<div>

  <%= turbo_frame_tag "sites_list" do %>
    <%= render "site_list", locals: { program: @site_program} %>
  <% end %>
</div>
