<div id="<%= dom_id term %>">
  <div class="py-2">
    <label class="body-lg-bold-text">
      Code:
    </label>
    <p class="body-lg-text inline-block">
      <%= term.code %>
    </p>
  </div>

  <div class="py-2">
    <label class="body-lg-bold-text">
      Classes Begin Date:
    </label>
    <p class="body-lg-text inline-block">
      <%= show_date(term.classes_begin_date) %>
    </p>
  </div>

  <div class="py-2">
    <label class="body-lg-bold-text">
      Classes End Date:
    </label>
    <p class="body-lg-text inline-block">
      <%= show_date(term.classes_end_date) %>
    </p>
  </div>

</div>
