<div id="<%= dom_id term %>">
  <div class="py-2">
    <p class="body-lg-bold-text inline">
      Code:
    </p>
    <p class="body-lg-text inline">
      <%= term.code %>
    </p>
  </div>

  <div class="py-2">
    <p class="body-lg-bold-text inline">
      Classes Begin Date:
    </p>
    <p class="body-lg-text inline">
      <%= show_date(term.classes_begin_date) %>
    </p>
  </div>

  <div class="py-2">
    <p class="body-lg-bold-text inline">
      Classes End Date:
    </p>
    <p class="body-lg-text inline">
      <%= show_date(term.classes_end_date) %>
    </p>
  </div>

</div>
