<div id="<%= dom_id term %>">
  <div class="py-2">
    <label class="body-lg-bold-text">
      Code:
    </label>
    <p class="body-lg-text inline-block">
      <%= term.code %>
    </p>
  </div>

  <div class="py-2">
    <label class="body-lg-bold-text">
      Term Start:
    </label>
    <p class="body-lg-text inline-block">
      <%= show_date(term.term_start) %>
    </p>
  </div>

  <div class="py-2">
    <label class="body-lg-bold-text">
      Term End:
    </label>
    <p class="body-lg-text inline-block">
      <%= show_date(term.term_end) %>
    </p>
  </div>

</div>
