<div class="w-full">

  <div class="flex justify-between items-center pb-4">
    <h1>Terms</h1>
    <%= link_to 'New Term', new_term_path, class: "secondary_blue_button" %>
  </div>

  <div id="terms" class="min-w-full">
    <%= render 'listing' %>
  </div>
</div>
