<% if @program.managers.present? %>
  <% @program.managers.each do |manager| %>
    <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm">
      <div class="w-0 flex-1 flex items-center">
        <p class="body-text">
          <%= manager.display_name %>
          <% if @program.instructor.uniqname == manager.uniqname %>
            - Instructor
          <% end %>
        </p>
      </div>
    </li>
  <% end %>
<% else %>
  <p class="m-2 body-text">
    The program currently does not have any program managers.
  </p>
<% end %>