<div class="flex flex-row items-center gap-4 m-2">
  <div>
    <h2>Program Managers</h2>
  </div>
  <div>
    <%= link_to "Add another program_manager", new_program_program_manager_path(@program), class: "secondary_blue_button" %> 
  </div>
</div>
<div>
  <%= turbo_frame_tag "program_managers_list" do %>
    <%= render "program_managers_list", locals: { program: @program} %>
  <% end %>
</div>