<div class="flex flex-row items-center gap-4 m-2">
  <div>
    <h2>Sites</h2>
  </div>
  <div>
    <%= link_to "Add another site", program_data_path(@program), class: "secondary_blue_button" %> 
  </div>
</div>
<div>
  <%= turbo_frame_tag "sites_list" do %>
    <%= render "sites_list", locals: { program: @program} %>
  <% end %>
</div>
