<div class="flex flex-row items-end gap-4 m-2">
  <div>
    <h2>Cars Available</h2>
  </div>
  <div>
    <%= link_to cars_path do %>
      <span class="tertiary_button">
        Edit Cars
        <i class="fa-solid fa-pen" aria-hidden="true"></i>
      </span>
    <% end %>
  </div>
</div>
<div>
  <%= turbo_frame_tag "cars_list" do %>
    <%= render "cars_list", locals: { program: @program} %>
  <% end %>
</div>
