<div class="flex flex-row items-end gap-4 m-2">
  <div>
    <h2>Sites</h2>
  </div>
  <div>
    <% if policy(@program).edit? %> 
      <%= link_to edit_program_sites_path(@program) do %>
        <span class="tertiary_button" %>
          Edit Sites
          <i class="fa-solid fa-pen" aria-hidden="true"></i>
        </span>
      <% end %>
    <% end %>
  </div>
</div>
<div>
  <%= turbo_frame_tag "sites_list" do %>
    <%= render "sites_list", locals: { program: @program} %>
  <% end %>
</div>
