<div class="flex flex-row items-end gap-4 m-2">
  <div>
    <h2>Program Managers</h2>
  </div>
  <div>
    <%= link_to edit_program_managers_path(@program) do %>
      <span class="tertiary_button">
        Edit Program Managers
      <i class="fa-solid fa-pen" aria-hidden="true"></i>
      </span>
    <% end %>
  </div>
</div>
<div>
  <%= turbo_frame_tag "managers_list" do %>
    <%= render "managers_list", locals: { program: @program} %>
  <% end %>
</div>
