<% if @program.sites.present? %>
  <% @program.sites.each do |site| %>
    <div class="flex items-center justify-between text-sm m-2">
      <div class="w-0 flex-1 flex items-center">
        <%= link_to site.title, program_path(@program), class: "link_to" %>
      </div>
      <div class="flex-1 w-0 truncate">
        <%= site.address1 %>
      </div>
    </div>
  <% end %>
<% else %>
    <div class="m-2 flex-1 truncate body-lg-text">
      The program currently does not have any sites.
    </div>
<% end %>
