<% if @program.sites.present? %>
  <% @program.sites.each do |site| %>
    <div class="flex items-center justify-between text-sm m-2">
      <div class="w-0 flex-1 flex items-center">
        <%= link_to site.title, site_path(site), class: "link_to" %>
      </div>
      <p class="flex-1 w-0 truncate">
        <%= site.address1 %>
      </p>
    </div>
  <% end %>
<% else %>
  <p class="m-2 body-sm-text">
    The program currently does not have any sites.
  </p>
<% end %>
