<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      The following email was sent to  <%= @day %> reservations:
      <ul>
        <% @selected_reservations.each do |id| %>
          <% reservation = Reservation.find(id) %>
          <li><%= link_to "#{reservation.display_name}", reservation_url(reservation) %></li>
        <% end %>
      </ul>     
    </p>
    <p>
      <%= raw(@message) %>
    </p>
  </body>
</html>
