<div class="w-full">
  <div class="flex flex-row items-center justify-between my-2">
    <div>
      <h1>Faculty Surveys</h1>
    </div>
    <div class="flex flex-row justify-between gap-2">
      <div>
        <%= link_to 'Create Faculty Survey', new_faculty_survey_path, class: "secondary_blue_button" %>
      </div>
    </div>
  </div>

  <%= render "listing" %>
</div>
