<h2>Available Cars</h2>for
<%= show_date(@start_date) %>
<%= turbo_frame_tag "available-cars" do %>
  <div class="mb-10" id="cars_listing">
    <ul role="list" class="grid grid-cols-2 gap-4 sm:grid-cols-2 lg:grid-cols-4 mt-4">
      <% @cars.each do |car| %>
        <li class="col-span-1 bg-white rounded-lg shadow-md divide-y divide-gray-400 px-2 place-items-stretch bg-white border border-gray-300 rounded-lg">
          <%= render 'car_card', car: car, day: @start_date %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

