<%= turbo_frame_tag "cars_dropdown" do %>
  
    <div class="mb-4">
      <%= label_tag 'Car *', nil, class: "fancy_label" %>
      <%= select_tag "car_id", options_from_collection_for_select(@cars, :id, :car_number, selected: @car_id), include_blank: "Select Car ...", class: "input_text_field",
      "data-reservation-target": "car" %>
    </div>
  
    <div class="error_text mb-2" id="car_field"></div>

  <% end %>
