<%= turbo_frame_tag dom_id(car) do  %>
  <div class="flex flex-col h-full">
    <div class="sm:px-0">
      <%= car.car_number %> - <%= car.number_of_seats %> seats
    </div>
    <h5>Available time</h5>
    <div>
      <% available_ranges(car, day, unit_id).each do |range| %>
        <div>
          <%= range %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
