<div class="lg:flex justify-between">
  <h1>New Reservation</h1>
</div>
<%= render 'form', reservation: @reservation %>
<div>
  <%= turbo_frame_tag "available_cars" do %>
    <%= render "available_cars" %>
  <% end %>
</div>
