<div class="lg:flex justify-between">
  <h1>New Long Reservation</h1>
</div>
<p class="body-sm-text mt-2">
   You can add passengers after submitting the reservation.
</p>
<%= render 'form_long', reservation: @reservation %>
<div>
  <%= turbo_frame_tag "available_cars" do %>
    <%= render "available_cars_long" %>
  <% end %>
</div>
