<div class="lg:flex justify-between">
  <h1>New Long Reservation</h1>
</div>
<%= render 'form_long', reservation: @reservation %>
<div>
  <%= turbo_frame_tag "available_cars" do %>
    <%= render "available_cars_long" %>
  <% end %>
</div>
