<div class="w-full">
  <div class="pb-4">
    <h1 class="mb-2">Reservations</h1>
  </div>
  <div class="mb-2">
    <%= link_to 'Month Calendar', reservations_path, class: "secondary_blue_button" %>
  </div>
  <%= week_calendar(events: @reservations) do |date, reservations| %>

  <% end %>

</div>
