<div class="mx-auto md:w-2/3 w-full">
  <h1>Editing config question for program</h1>

  <%= render "form" %>

  <%= link_to "Back to config questions", program_config_questions_path(@config_question_program), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
