<div class="w-full">

  <div class="flex justify-between items-center">
    <h1>Config questions</h1>
    <%= link_to 'New config question', new_program_config_question_path(@config_question_program), class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="config_questions" class="min-w-full">
    <%= render 'config_question', locals: { program: @config_question_program } %>
  </div>
</div>
