<div class="w-full">
  <div class="flex flex-row items-center justify-between m-2">
    <div>
      <h1 class="font-bold text-4xl">Config questions</h1>
    </div>
    <div class="flex flex-row justify-between gap-2">
      <div>
        <%= link_to 'New config question', new_program_config_question_path(@config_question_program), class: "secondary_blue_button" %>
      </div>
      <div>
        <%= link_to 'Faculty Survey', faculty_survey_path(@config_question_program), class: "secondary_blue_button" %>
      </div>
    </div>

  </div>
  <p class="my-5">
  <strong class="block font-medium mb-1">Program:</strong>
  <%= link_to @config_question_program.display_name, program_path(@config_question_program), class: "link_to" %>
  </p>
  <%= render 'config_question' %>

</div>
