<h1>Email Preferences</h1>
<p class="body-sm-text mx-2 mb-4">
  If you unsubscribe, you will no longer receive email reminders 
  about your upcoming reservations or missing vehicle reports.
</p>
<ul style="list-style:none;">
  <%= render @mailer_subscriptions %>
</ul>
