<div class="mx-auto md:w-2/3 w-full">
  <h1>Editing config question</h1>

  <%= render "form", config_question: @config_question %>

  <%= link_to "Show this config question", @config_question, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to config questions", config_questions_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
