<div class="mx-auto md:w-2/3 w-full">
  <h1>Editing site contact</h1>

  <%= render "form", site_contact: @site_contact %>

  <%= link_to "Show this site contact", @site_contact, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to site contacts", site_contacts_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
