<div class="w-full ml-4 mb-2">

  <div class="flex justify-between items-center">
    <h1>Update student list manually</h1>
    <div>
      <%= link_to "Back to Program's Student List", program_students_path(@student_program), class: "secondary_blue_button" %>
    </div>
  </div>

  <%= render "form", student: @student %>

<div class="w-full ml-4">
  <div class="flex flex-row items-center justify-between m-2">
    <div>
      <h2> Student List</h2>
    </div>
    
  </div>

  <p class="my-5">
  <strong class="block font-medium mb-1">Program:</strong>
  <%= link_to @student_program.display_name, program_path(@student_program), class: "link_to" %>
  </p>

  <%= render "student_list_manual" %>
</div>
