<div class="w-full ml-4 mb-2">

  <h1>Hell</h1>

  <%= render "form", student: @student %>

<div class="w-full">
  <div class="flex flex-row items-center justify-between m-2">
    <div>
      <h1> Student List</h1>
    </div>
    
  </div>

  <p class="my-5">
  <strong class="block font-medium mb-1">Program:</strong>
  <%= link_to @student_program.display_name, program_path(@student_program), class: "link_to" %>
  </p>

  <%= render "student_list_manual" %>
</div>
