<div class="w-full mb-2">

  <div class="flex justify-between items-center mb-4">
    <h1>Update student list manually</h1>
    <div>
      <%= link_to program_students_path(@student_program) do %>
        <span class="primary_button mb-2">
          <i class="fa-solid fa-circle-xmark" aria-hidden="true"></i>
          Exit Adding Students Page
        </span>
      <% end %>
    </div>
  </div>

  <%= render "form", student: @student %>

<div class="w-full">
  <div class="flex flex-row items-center justify-between my-2">
    <div>
      <h2>Student List</h2>
    </div>
    
  </div>

  <div class="mb-2">
    <label class="body-lg-bold-text">
      Program:
    </label>
    <%= link_to @student_program.display_name, program_path(@student_program), class: "link_to" %>
  </div>

  <%= render "student_list_manual" %>
</div>
