/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require recurring_select
 *= require_tree .
 *= require_self
 */

.field_with_errors input {
  border-color: #B51E0A;
}

.field_with_errors select {
  border-color: #B51E0A !important;
}

.status-false {
  color: #B51E0A
}

.status-true {
  color: #00743C
}

.mi_tbody_tr {
  position: relative; 
  border-width: 1px; 
  border-top-width: 0; 
  border-right-width: 0; 
  border-left-width: 0; 
  border-color: #CCCCCC; 
}

.mobile_tr {
  position: relative; 
  border-width: 1px; 
  border-top-width: 0; 
  border-right-width: 0; 
  border-bottom-width: 2px; 
  border-left-width: 0; 
  border-color: #7F7F7F; 
}

/*normal mode*/
#desk-table {
  display: table;
}
#phone-table {
  display: none;
}

/*mobile mode*/
@media only screen and (max-width: 1000px) {
  #desk-table {
      display: none;
  }
  #phone-table {
      display: block;
  }
}

.turbo-progress-bar {
  height: 10px !important;
  background-color: #00AEEF;
}
