/* simple calendar */
.simple-calendar {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
  font-size: 12px;
  font-family: Montserrat, sans-serif;
  color: #333;
  background-color: #fff;
}

.simple-calendar .wday-0 {
  color: #000;
}
.simple-calendar .wday-1 {
  color: #000;
}
.simple-calendar .wday-2 {
  color: #000;
}
.simple-calendar .wday-3 {
  color: #000;
}
.simple-calendar .wday-4 {
  color: #000;
}
.simple-calendar .wday-5 {
  color: #000;
}
.simple-calendar .wday-6 {
  color: #000;
}

.simple-calendar .past {
  color: #ccc;
}
.simple-calendar .future {
  color: #000;
}

.simple-calendar .start-date {
  background-color: #f0f0f0;
}

.simple-calendar .current-month {
  color: #000;
}

.simple-calendar .has-events {
  background-color: #f0f0f0;
}

.simple-calendar .day {
  height: 122px;
  padding: 5px;
  border: 1px solid #ccc;
  text-align: center;
}

.simple-calendar .day-header {
  text-align: right;
}
.simple-calendar .today {
  background: #FFFFC0;
}
.simple-calendar .prev-month {
  background: #DDD;
}
.simple-calendar .next-month {
  background: #DDD;
}

.simple-calendar .calendar-title {
  color: black;
  font-size: 16px;
  font-weight: 250;

}

.simple-calendar .calendar-heading {
  color: blue;
  font-size: 16px;
  margin: 10px;
}

.simple-calendar table {
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 0px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #ddd;
  border-collapse: collapse;
  box-sizing: border-box;
  max-width: 100%;
  width: 100%;
}
.simple-calendar tr {
  border-collapse: collapse;
}
.simple-calendar th {
  padding: 6px;
  border-bottom: 2px solid #ddd;
  border-collapse: collapse;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-top: 0px none #333;
  box-sizing: border-box;
  text-align: left;
}
.simple-calendar td {
  padding: 6px;
  vertical-align: top;
  width: 14%;
  border: 1px solid #ddd;
  border-top-color: #ddd;
  border-top-style: solid;
  border-top-width: 1px;
  border-right-color: #ddd;
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: #ddd;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: #ddd;
  border-left-style: solid;
  border-left-width: 1px;
}

.simple-calendar .tr-week {
  border-collapse: collapse;
  height: 250px;
}

.simple-calendar .td-week {
  overflow: visible;
  white-space: nowrap;
  font-size: 12px;
  font-weight: 500;
}

.div-hover:hover:after{
  content: attr(data-reservation);
  background:yellow;
  padding: 5px;
  border-radius:5px;
  border:1px solid;
  position: absolute;
  display: block;
  white-space: pre-line;
  z-index: 99 !important;
}

.rs_dialog .rs_dialog_content .freq_option_section .rs_interval {
  width: 40px !important;
  text-align: center !important;
  display: inline-block !important;
}
