<% frame_type = params[:frame_type] if params[:frame_type].present? %>
<%= turbo_frame_tag 'student_phone_' + frame_type do %>
  <div class="py-2">
    <% if @student.phone_number.present? %>
      <i class="fa-solid fa-check"></i>
      <p class="body-sm-semibold-text ml-2 inline">
        Pnohe Number:
      </p>
      <div class="flex">
        <div>
          <p class="body-sm-text ml-2 pt-1">
            <%= @student.phone_number %>
          </p>
        </div>
        <%= link_to edit_student_phone_path(@student, edit: true, frame_type: frame_type), class: "link_to" do %>
          <span class="body-sm-text ml-2">
            Edit
            <i class="fa-solid fa-pen"></i>
          </span>
        <% end %>
      </div>
    <% end %>
    <% if params[:edit] == "true" || !@student.phone_number.present? %>
      <%= render "student_phone_form", student: @student, frame_type: frame_type %>
    <% end %>
  </div>
<% end %>
