<div class="container px-1 mb-20">

  <div class="flex justify-between items-center pb-8">
    <h1>Cars</h1>
    <%= link_to 'New Car', new_car_path, class: "primary_button" %>
  </div>

  <div id="cars" class="min-w-full">
    <%= render 'car_list' %>
  </div>
</div>
