<%= turbo_frame_tag "image_errors_#{image_field_name}" do %>
  <% if @vehicle_report.errors.any? %>
    <ul class="error_text">
      <% @vehicle_report.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
