<%= turbo_frame_tag "student_status_mobile" do %>
  <div class="">
    <p class='body-lg-text font-medium status-<%= vehicle_report.student_status %>'>
    <%= show_vehicle_report_student_status(vehicle_report) %>
    </p>
  </div>
<% end %>
