<div class="mx-auto w-full">
  <h1>Editing vehicle report</h1>

  <%= render "form", vehicle_report: @vehicle_report %>

  <%= link_to "Show this vehicle report", @vehicle_report, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to vehicle reports", vehicle_reports_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
