<% scroll_to_top = local_assigns.fetch(:scroll_to_top, false) %>
<div class="flashes mt-2" data-controller="flash" data-flash-scroll-to-top-value="<%= scroll_to_top %>">
  <% flash.each do |key, value| %>
    <% if key == 'notice' %>
      <%= content_tag(:div, value, class: "flash #{key}", id: "#{key}") %>
    <% end %>
  <% end %>
  <% flash.each do |key, value| %>
    <% if key == 'alert' %>
      <%= content_tag(:div, value, class: "flash #{key}", id: "#{key}") %>
    <% end %>
  <% end %>
</div>

